

.Li:hover{
    background-color: rgb(62, 197, 62);
    cursor: pointer;
    transition: ease-in 0.5s;

}

#navbarId{
    background-image: linear-gradient( to right, violet,white,violet);
    box-shadow: 0 0 20px black;
    
}
#sidebar{
    background-image: linear-gradient(rgb(24, 136, 248),rgb(247, 103, 232),rgb(244, 244, 114),rgb(251, 120, 177));
}

#loginbtn{
    margin-right: 10px;
}